<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Акции Svetoy.ru</title>

	<link rel="shortcut icon" href="svet1.jpg" type="jpg">
	<style type="text/css">
		body {
    background: url(slider_1.jpg)repeat-y, 
                url(slider_1.jpg) 100% 0 repeat-y;
    margin: -100px 100px;
   }
   
   .m1 a{
    	color: #ffe93e;
    	text-decoration: none;
    	font-size: 45px;
        font-family: Trebuchet MS;
        margin-top: -50px;
        margin-left: -82px;
    }
	</style>
</head>
<body>
<div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script type="text/javascript" src="jquery-3.3.1.js">
  
</script>
		<p>svetoy<br>
			svetoy<br>
			svetoy<br>
		    svetoy<br></p>
	</div>
	<div class="m1">
		<a href="svetoy1.html"><em>Svetoy.ru</em></a>
</div>	
</body>
</html>